USE [master]
GO
/****** Object:  Database [PosSys]    Script Date: 6/22/2024 12:19:43 PM ******/
CREATE DATABASE [PosSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PosSys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PosSys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PosSys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PosSys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PosSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PosSys]
GO
/****** Object:  Table [dbo].[brand_Tbl]    Script Date: 6/22/2024 12:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand_Tbl](
	[brandId] [int] IDENTITY(1,1) NOT NULL,
	[bName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_Tbl]    Script Date: 6/22/2024 12:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_Tbl](
	[catId] [int] IDENTITY(1,1) NOT NULL,
	[catName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[catId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pEntry_Tbl]    Script Date: 6/22/2024 12:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pEntry_Tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[proName] [varchar](255) NOT NULL,
	[unitCost] [decimal](18, 2) NOT NULL,
	[unitPrice] [decimal](18, 2) NOT NULL,
	[profitMargin] [decimal](18, 2) NOT NULL,
	[qtt] [int] NOT NULL,
	[ttCost] [decimal](18, 2) NOT NULL,
	[ttProfit] [decimal](18, 2) NOT NULL,
	[catgary] [varchar](255) NOT NULL,
	[brand] [varchar](255) NOT NULL,
	[barccod] [varchar](255) NOT NULL,
	[Sublier] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_Tbl]    Script Date: 6/22/2024 12:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_Tbl](
	[subId] [int] IDENTITY(1,1) NOT NULL,
	[subName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
